{% extends '::base.html.twig' %}

{% block body %}
    
    <style>
        
        p{
             text-align: center;
        }
        
        .table_connect{
             margin : auto;
        }
        
        .form {
            text-align: center;
        }

    </style>
    
    {% if error %}
        <div class="error-box">{{error}}</div>
    {% endif %}
    
    <p>.: Connexion :.</p>
    <div class="form">
        {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
        
            {{ form_label(form.email, "E-mail : ", {}) }}
            {{ form_widget(form.email, {}) }}
            <br />
            {{ form_label(form.password, "Mot de passe : ", {}) }}
            {{ form_widget(form.password, {}) }}
            
            {{ form(form) }}
            {{ form_rest(form) }}
        {{ form_end(form) }}
    </div>
    
{% endblock %}
